* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: dosisLight;
    src: url("fonts/Dosis-Light.ttf");
}

@font-face {
    font-family: dosisMedium;
    src: url('fonts/Dosis-Medium.ttf');
}

body {
    background-color: #01161e;
}

h1 {
    font-family: dosisLight, sans-serif;
    color: #fefefe;
}

p {
    font-family: dosisLight, sans-serif;
}

img {
    height: 200px;
}

header h1 {
    padding-top: 40px;
    padding-left: 60px;
    font-size: 40px;
}

header {
    margin-bottom: 50px;
}

main {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

main p:first-of-type {
    color: #fefefe;
    width: 90%;
    font-size: 18px;
    margin-right: 10%;
    margin-bottom: 50px;
}

form input {
    height: 30px;
    width: 350px;
    border: 1px solid #49a078;
    background-color: #01161e;
}

form input::placeholder {
    padding-left: 15px;
    color: #fefefe;
    font-family: dosisLight, sans-serif;
}

form input:focus {
    padding-left: 15px;
    color: #fefefe;
    font-family: dosisLight, sans-serif;
}

@media  screen and (max-width: 550px) {
    form input {
        width: 200px;
    }
}

button {
    height: 28px;
    width: 100px;
    background-color: #49a078;
    border: none;
    font-family: dosisLight, sans-serif;
    color: #fefefe;
}

button:hover {
    transform: scale(0.9);
    font-family: dosisMedium, sans-serif;
}

ul {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

li h2 {
    text-decoration: none;
    font-family: dosisLight, sans-serif;
    color: #01161e;
    height: 80px;
}

h2:hover {
    color: #49a078;
}

li {
    list-style: none;
    background-color: #fefefe;
    margin-bottom: 20px;
    width: 320px;
    padding: 30px;
    margin-right: 15px;
}
 li div {
     margin-top: 25px;
     width: 100%;
     display: flex;
     justify-content: center;
 }

 img:hover {
     transform: scale(0.95);
     border-radius: 15px;
 }

 /* Details page */

 article {
     width: 80vw;
     margin-left: auto;
     margin-right: auto;
     background-color: #fefefe;
     margin-top: 100px;
 }

 article h2 {
     text-align: center;
     padding-top: 50px;
     font-family: dosisMedium, sans-serif;
     padding-bottom: 20px;
     height: auto;
 }

 article div {
     width: 100%;
     display: flex;
     justify-content: center;
 }

 article h3 {
     padding-top: 20px;
     font-family: dosisLight, sans-serif;
     text-align: center;
 }

#description {
     width: 60vw;
     margin-left: auto;
     margin-right: auto;
     font-family: dosisLight, sans-serif;
     color: #01161e;
     padding-bottom: 40px;
 }